<!DOCTYPE html>
<html>
<head>
    <title>Курсы валют</title>
</head>
<body>
    <h1>Текущие курсы валют</h1>
    <p>Дата и время обновления: {{ data.datetime }}</p>
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Дата и время</th>
                <th>Курс</th>
            </tr>
        </thead>
        <tbody>
            {% for currency in data['currencies'] %}
            <tr>
                <td>{{ currency['cur'] }}</td>
                <td>{{ currency['datetime'] }}</td>
                <td>{{ currency['value'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>